.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &-body {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        width: 100%;
    }

    &-weekdays {
        display: contents;
    }

    .calendar-weekday,
    .calendar-day {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        height: 50px;
        border: 1px solid var(--color-grey);
        font-size: 1.2em;
    }

    .calendar-day,
    .calendar-weekday {
        border: none;
    }

    .calendar-day {
        &.current-month {
            background-color: var(--color-white);
            cursor: pointer;

            &.has-event {
                background-color: var(--color-blue);
                color: var(--color-white);
                border-radius: 6px;
            }

            &:hover {
                background-color: var(--color-hover);
                color: var(--color-black);
            }
        }

        &:not(.current-month) {
            background-color: var(--color-light-grey);
            color: var(--color-grey);
        }
    }
}

@media (max-width: 600px) {
    .calendar {
        .calendar-weekday {
            display: none;

            &::before {
                content: attr(data-short);
                display: block;
            }
        }
    }
}

@media (min-width: 601px) {
    .calendar {
        .calendar-weekday {
            display: none;

            &::before {
                content: attr(data-full);
                display: block;
            }
        }
    }
}