<mat-card>
    <mat-card-content>
        <mat-form-field class="full-width">
            <mat-label>Título</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="newEntry.title">
            @if (titleValidation()) {
            <mat-hint class="field-error">El título es obligatorio.</mat-hint>
            }
        </mat-form-field>
        <angular-editor [config]="editorConfig"
                        [(ngModel)]="newEntry.content" />
        <div class="add-options">
            <mat-form-field>
                <mat-label>Tipo</mat-label>
                <mat-select [(ngModel)]="newEntry.check">
                    @for (option of entryOptions; track option.name) {
                    <mat-option [value]="option.value">{{option.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>
<div class="footer">
    <button mat-icon-button
            (click)="back()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-flat-button
            (click)="saveEntry()">
        <mat-icon>add</mat-icon>
        Guardar
    </button>
</div>