.drawer {
    width: 70%;
}

header {
    display: flex;
    align-items: center;

    .selectors {
        flex: 1;

        mat-form-field {
            margin-right: 16px;
        }
    }

    .actions {
        button {
            margin-left: 16px;
        }
    }
}