.entry-card {
    margin-bottom: 16px;

    .entry {
        display: flex;

        .entry-order {
            box-sizing: border-box;
            width: 56px;
            padding: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 2px solid var(--color-grey);
        }

        .entry-content {
            flex: 1;
            padding: 16px;

            .title {
                font-size: 1.2em;

                &.checked {
                    text-decoration: line-through;
                }
            }

            .content {
                margin-top: 16px;
                color: var(--color-dark-grey);

                &.checked {
                    text-decoration: line-through;
                }
            }
        }

        .entry-delete {
            box-sizing: border-box;
            width: 56px;
            padding: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: 2px solid var(--color-grey);
        }
    }
}