<mat-card class="full-width entry-card">
    <div class="entry">
        @if (edit()) {
        <div class="entry-order">
            <mat-icon>more_vert</mat-icon>
        </div>
        }
        <div class="entry-content">
            @if (showDate()) {
            <div class="date">
                {{ entry().fullDate }}
            </div>
            }
            <div class="title"
                 [class.checked]="entry().checked">
                {{ entry().title }}
            </div>
            @if (entry().content !== null) {
            <div class="content"
                 [innerHTML]="entry().content"
                 [class.checked]="entry().checked"></div>
            }
        </div>
        @if (edit()) {
        <div class="entry-delete">
            <button mat-icon-button
                    (click)="deleteEntry(entry().id)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        }
        @if (!edit() && entry().check) {
        <div class="entry-delete">
            <mat-checkbox [(ngModel)]="entry().checked"
                          (ngModelChange)="checkEntry(entry().id)"></mat-checkbox>
        </div>
        }
    </div>
</mat-card>