.entry {
    display: flex;

    .entry-order {
        box-sizing: border-box;
        width: 56px;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 2px solid #ccc;
    }

    .entry-content {
        flex: 1;
        padding: 16px;

        .title {
            font-size: 1.2em;
        }

        .content {
            margin-top: 16px;
            color: #444;
        }
    }

    .entry-delete {
        box-sizing: border-box;
        width: 56px;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: 2px solid #ccc;
    }
}