.list {
    min-width: 300px;
    min-height: 500px;
    height: calc(100% - 56px);
    display: flex;
    flex-direction: column;

    &.empty {
        justify-content: center;
        align-items: center;
    }
}