.list {
    min-width: 300px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-options {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.footer {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}