@use '@angular/material' as mat;

:root {
    --bg-color: #fafafa;
    --color-black: #000;
    --color-red: #f44336;
    --color-white: #fff;
    --color-blue: #005cbb;
    --color-grey: #ccc;
    --color-dark-grey: #444;
    --color-light-grey: #eee;
    --color-hover: #ddd;

    @include mat.toolbar-overrides((container-background-color: var(--color-blue),
            container-text-color: var(--color-white),
        ));
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--bg-color);
}

.disable-link {
    pointer-events: none;
}

.center-card {
    max-width: 300px;
    margin: 50px auto;

    .center-card-fields {
        &>* {
            width: 100%;
        }

        .center-card-error {
            border-radius: 6px;
            box-sizing: border-box;
            border-color: var(--color-red);
            color: var(--color-red);
            border-width: 2px;
        }

    }

    .center-card-buttons {
        display: flex !important;
        justify-content: space-between;

        img {
            width: 20px;
            vertical-align: bottom;
        }
    }

    .center-card-buttons-end {
        justify-content: flex-end;
    }
}

.full-width {
    width: 100%;
}

.mat-toolbar {

    .mat-mdc-icon-button,
    .mat-icon,
    .material-icons {
        color: var(--color-white) !important;
    }

    svg {
        fill: var(--color-white);
    }
}

.field-error {
    display: block;
    color: var(--color-red);
}

.modals-panel {
    min-width: auto !important;
}

.modal-wide {
    width: 95%;
    height: 95%;
}

@media screen and (min-width: 900px) {
    .modal-wide {
        width: 30%;
        height: auto;
    }
}